:root
{
  @include fluid-typo($min-width, $max-width, $font-size-min, $font-size-max);
  box-sizing: border-box;
}

body
{
  font-family: $font-main;
  background-color: $sandstone;
  color: $white;
  padding: 0;
  margin: 0;
}