#nav-bar //sass-lint:disable-line no-ids
{
  font-family: $font-main;
  background-color: $black;
  color: $main-font-color;
  max-width: none;
  padding-top: .3vh;
  padding-bottom: .3vh;

  h1
  {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline;
  }

  ul
  {
    list-style-type: none;
    position: relative;
    display: inline;

    li
    {
      display: inline;
      margin-left: $nav-margin;
      margin-right: $nav-margin;
    }

    li > a:link
    {
      text-decoration: none;
      color: $main-font-color;
    }

    li > a:visited
    {
      color: $main-font-color;
      text-decoration: none;
    }

    li > a:hover
    {
      color: $main-font-color;
      text-decoration: underline;
      text-decoration-color: green;
    }
  }
}