#nav-bar //sass-lint:disable-line no-ids
{
  font-family: $font-main;
  background-color: $black;
  max-width: none;
  padding-top: .3vh;
  padding-bottom: .3vh;

  ul
  {
    //padding: 0;
    //margin-top: 0;
    //margin-bottom: 0;
    list-style-type: none;

    li
    {
      //font-size: $nav-size;
      display: inline;
      position: relative;
      margin-left: $nav-margin;
      margin-right: $nav-margin;
    }
  }
}

