// Font import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|Roboto:300,300i,400,400i');

$black: #000000;
$sandstone: #1C1C1C;
$silver: #C0C0C0;
$white: #FFFAFA; //Named snow in color codes
$green: #32CD32;

// Font specification
$font-main: Roboto, Helvetica, Arial;
$font-sub: "Open Sans", Courier, Verdana;

// Screen widths
$min_width: 320px;
$max_width: 2048px;
$font-size-min: 14px;
$font-size-max: 26px;
